head
  title Short.me - Url shortner

body
  h1.title Welcome to short.me!
  if url
    h2 You're about to be redirected to #{url}
    div.countdown-container
      p.countdown Redirecting in
        p#countdown-timer 5 seconds
  else
    h2 Url not found!
  script(src='/static/js/redirect.js')
