head
  title Short.me - Url shortner

body
  h1.title Welcome to short.me!
  if url
    h2 You're about to be redirected to #[a(id='url-link' href=url)=url]
    div.countdown-container
      p.countdown Redirecting #[span(id='countdown-timer') in 5 seconds]
  else
    h2 Url not found!
  script(src='/static/js/redirect.js')
